<br />
<div *ngIf="hero !== undefined">
  <mat-card>
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-subtitle>Hero Detail</mat-card-subtitle>
    <mat-card-content>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Hero Name</mat-label>
          <input
            name="heroName"
            id="heroName"
            matInput
            placeholder="Ex: Beto"
            value=""
            [(ngModel)]="hero.name"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
